{% extends "layout.html" %}

{% block title %}
    Art Gallery
{% endblock %}
{% block script %}
    <script src="{{gallery[0]['code']}}"></script>

    <script>
      function toData() {
        var url = canvas.toDataURL('image/png');//, 0.8);
        document.getElementById("fav").value = url;
      }

      function keyTyped() {
        if (key === 's' && looping == true) {
          noLoop();
          looping = false;
        } else if (key === "s" && looping == false) {
          loop();
          looping = true;
        }
      }
    </script>

{% endblock %}
{% block main %}
    <div class = "container fonts">
        <div class="row">
        <div class="col text-left">
        <form method="get">
          <button type="submit" class="btn border" value="{{number - 1}}" name="next">Previous</button>
        </form>
        </div>
        <div class="col text-right">
        <form method="get">
          <button type="submit" class="btn border" value="{{number + 1}}" name="next">Next</button>
        </form>
        </div>
        </div>
    </div>
    <div class="container">
     <div class="row" style="padding-top: 3%;">
            <div class="col">
                <ul class="nav nav-tabs nav-justified fonts" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">
                      Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                      Code
                    </a>
                  </li>
                </ul>
                <div class="container">
                <div class="tab-content text-left" id="myTabContent">
                  <div class="tab-pane fade show active fonts" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3>{{gallery[0].name}}</h3>
                    <p>{{gallery[0].description}}</p>
                    <p>Pause the piece at any time using the S key on your keyboard.</p>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="height:400px;">
                      <p class="fonts code">
                          {{ text | safe }}
                      </p>
                  </div>
                  </div>
                </div>
            </div>
            <div class="col" id="sketch-holder" style="height: 500px;">
            </div>
        </div>
        </div>
        {% if session.user_id %}
        <div class="container text-right" style="padding: 1%;">
          <!-- POTENTIAL IMPROVEMENT make it so it doesn't reload the page when you add something to your favorites list -->
          <form method="post" onsubmit="">
          <button id="fav" type="submit" class="btn fonts border" name="favorite" onclick="toData()">Save image to favorites</button>
          <input type="hidden" name="art_piece" value="{{ number }}">
          </form>
        </div>
        {% endif %}
{% endblock %}
