{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block main %}
<div class ="container">
<div class="row">
{% for row in info | batch(3) %}
<div class="row" style="padding-top: 1%;">
{% for piece in row %}
{% if piece != None %}
  <div class="col-md-4">
    <div class="crop">
        <a href="/shopart?art={{ piece.id }}">
        <img class="gallery" src="{{ piece.image_url }}" alt="image" style="max-width: 100%;">
        </a>
    </div>
    <div class="fonts">
    <div class="container text-center">
        <a href="/shopart?art={{ piece.id }}" style="color:black;">
            <p class="">{{ piece.name }}</p>
            <p>${{ piece.cost }}.00</p>
        </a>
    </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}
