{% extends "layout.html" %}

{% block title %}
    Art Gallery
{% endblock %}
{% block script %}
<script>
  // $('#myModal').on('shown.bs.modal', function (event) {
  //   var button = $(event.relatedTarget);
  //   var myVar = button.data('url');
  //   var modal = $(this);
  //   console.log(myVar);
  //   modal.find("#image_url").val(myVar);
  // });
</script>
{% endblock %}
{% block main %}
<div class ="container">
{% for row in info | batch(3) %}
<div class="row" style="padding-top: 3%;">
{% for piece in row %}
{% if piece != None %}
  <div class="col-md-4">
    <div class="crop">
        <a href="{{ urls[piece.id - 1] }}">
        <img class="gallery img-fluid" src="{{ urls[piece.id - 1] }}" alt="saved_photo">
        </a>
    </div>
    <div class="fonts">
        <div class="container text-center" style="padding-top: 1.5%;">
          <div class="row">
            <div class="col">
          <p>{{ piece.name }}</p>
          <p>${{ piece.cost }}.00</p>
          </div>
          </div>
        </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}
