{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}
{% block main %}
<div class ="container-fluid mx-1">
{% for row in info | batch(3) %}
<div class="row" style="padding-top: 3%;">
{% set outer_loop = loop %}
{% for piece in row %}
{% if piece != None %}
  <div class="col-md-4">
    <div class="crop">
        <a href="/shopart?art={{ piece.id }}">
          <img class="gallery" src="{{ urls[piece.id - 1] }}" alt="saved_photo">
        </a>
    </div>
    <a href="/shopart?art={{ piece.id }}">
    <div class="fonts">
        <div class="container-fluid mx-1 text-center" style="padding-top: 1.5%;">
          <p>{{ piece.name }}</p>
          <p>${{ piece.cost }}.00</p>
        </div>
    </div>
    </a>
  </div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
